.container {
  background: linear-gradient(180deg, #38a193 0%, #e6e6e6 100%); /* Alterei as cores */
  background-size: cover;
  background-repeat: no-repeat;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem 0; /* redução no espaçamento */
  width: 100%;
  max-width: 1199px; /* Adicionado max-width assim o conteúdo não ultrapassa a tela */
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem; /* Adicionado espaço  */
}

.banner h1 {
  width: 100%;
  max-width: 434px;
  height: auto; /* Ajuste de altura */
  font-size: 26px; /* redução no tamanho da fonte */
  font-weight: 600;
  text-align: left; /* alinhamento */
}

.banner > img {
  width: 100%;
  max-width: 580px;
  height: auto; 
}

.vantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}

.vantagens h2 {
  font-size: 22px; /* redução no tamanho da fonte */
  font-weight: 700;
}

.vantagens__itens {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  flex-wrap: wrap; /* quebra de linha dos itens */
  gap: 20px; 
  margin-top: 1.5rem; /* Aumentei o espaçamento  */
}

.vantagens__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 279px;
  height: auto; /* Ajuste de altura */
}

.vantagens__item p {
  margin: 1rem 0; /* Aumentei o espaçamento */
  text-align: center;
  width: 100%;
  color: #6d6d6d; /* Alterei a cor do texto */
}

.vantagens__item img {
  width: 80px; /* Aumentei o tamanho da imagem */
  height: auto;
  margin-bottom: 0.8rem; /* Aumentei o espaçamento */
}

@media (max-width: 425px) {
  .conteudo {
    width: 100%;
    padding: 1.5rem 0; /* Ajustei o espaçamento */
  }

  .banner h1 {
    font-size: 1.5rem; /* Aumentei o tamanho da fonte */
  }

  .banner > img {
    width: 100%;
    max-width: 480px; 
  }

  .vantagens__item h3 {
    font-size: 1rem; /* Aumentei o tamanho da fonte */
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .conteudo {
    width: 100%;
    padding: 1.75rem 0; /* Ajustei o espaçamento*/
  }

  .banner h1 {
    font-size: 1.75rem; /* Aumentei o tamanho da fonte */
  }

  .banner > img {
    width: 100%;
    max-width: 500px; 
  }

  .vantagens__item h3 {
    font-size: 1rem; /* Aumentei o tamanho da fonte */
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .conteudo {
    width: 95%; /* Ajustei a largura */
  }

  .banner h1 {
    font-size: 24px; /* redução no tamanho da fonte */
  }

  .banner > img {
    width: 70%; /* Ajustei a largura */
  }

  .vantagens__item h3 {
    font-size: 18px; /* Pequena redução no tamanho da fonte */
  }

  .vantagens__itens {
    gap: 24px;
  }
}
